<html>
    <head></head>
    <body>
        <h2>Hello,</h2>
        <p>Your load <b>{{ name }}</b> was successfully assigned to driver with email <b>{{ email }}</b>!</p>
        <p>The Just-In-Time Delivery Team</p>
    </body>
</html>