<html>
    <head></head>
    <body>
        <h2>Hello</h2>
        <p>A request has been received to change the password of your Just-In-Time Delivery account</p>
        <p>Your new password is {{ password }}</p>
        <p>If you didn't initiate this request, just ignore this email</p>
        <p>Thank you, <br> The Just-In-Time Delivery Team</p>
    </body>
</html>