<html>
    <head></head>
    <body>
        <h2>Congratulations!</h2>
        <p>You have successfully shipped a load <b>{{ name }}</b>, created by <b>{{ email }}</b>.</p>

        <p>The Just-In-Time Delivery Team</p>
    </body>
</html>