<div class="mt-100">
    <h2 class="text-center mt-3">{{ 'ChangePasswordHeader-translate' | translate }}</h2>
    <div class="row mx-0 mt-3">
        <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">{{ 'OldPassword-translate' | translate }}</label>
                    <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword">
                    <span class="text-danger" *ngIf="!passwordForm.get('oldPassword')!!.valid && passwordForm.get('oldPassword')!!.touched">
                        <span *ngIf="passwordForm.get('oldPassword')!!.errors!!['required']">
                            {{ 'OldPasswordValidation-translate' | translate }}
                        </span>
                    </span>
                </div>
    
                <div class="mb-3">
                    <label for="newPassword" class="form-label">{{ 'NewPassword-translate' | translate }}</label>
                    <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
                    <span class="text-danger" *ngIf="!passwordForm.get('newPassword')!!.valid && passwordForm.get('newPassword')!!.touched">
                        <span *ngIf="passwordForm.get('newPassword')!!.errors!!['required']">
                            {{ 'NewPasswordValidation-translate' | translate }}
                        </span>
                        <span *ngIf="passwordForm.get('newPassword')!!.errors!!['minlength']">
                            {{ 'NewPasswordValidationMinLenght-translate' | translate }}
                        </span>
                    </span>
                </div>
    
                <p class="text-danger" *ngIf="error">{{ error }}</p>
    
                <div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-info text-uppercase w-100" type="submit" [disabled]="!passwordForm.valid" *ngIf="!formSubmitting"
                            [ngClass]="{ 'fs-7': translateService.currentLang === 'uk' }">
                                {{ 'ChangePassword-translate' | translate | uppercase }}
                            </button>
                            <mat-spinner [diameter]="40" *ngIf="formSubmitting" class="mx-auto"></mat-spinner>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>


